In [8]:
import pandas as pd
import mysql.connector

data = pd.read_csv(r'C:\Users\Maya\Documents\School\CAP\project\data.csv')

data.fillna({
    'Engine Fuel Type': 'Unknown',
    'Engine HP': 0,
    'Engine Cylinders': 0,
    'Number of Doors': 0,
    'Market Category': 'N/A',
}, inplace=True)

print(data.isnull().sum())

connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='!@QWaszx23we',
    database='car_data'
)

cursor = connection.cursor()

for index, row in data.iterrows():
    sql = """
    INSERT INTO car_info (Make, Model, Year, Engine_Fuel_Type, Engine_HP, Engine_Cylinders,
                          Transmission_Type, Driven_Wheels, Number_of_Doors, Market_Category,
                          Vehicle_Size, Vehicle_Style, Highway_MPG, City_MPG, Popularity, MSRP)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    try:
        cursor.execute(sql, tuple(row))
    except Exception as e:
        print(f"Error at index {index}: {e}")
        print(row)

connection.commit()

cursor.close()
connection.close()

print("Data uploaded successfully.")

Make                 0
Model                0
Year                 0
Engine Fuel Type     0
Engine HP            0
Engine Cylinders     0
Transmission Type    0
Driven_Wheels        0
Number of Doors      0
Market Category      0
Vehicle Size         0
Vehicle Style        0
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64
Data uploaded successfully.